.TodoTemplate {
  width: 512px;
  margin: 6rem auto 0 auto;
  border-radius: 4px;
  overflow: hidden;
}
.app-title {
  background: #9c88ff;
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  background: white;
}
